@model EPiServer.Reference.Commerce.Site.Features.Recommendations.ViewModels.RecommendationsViewModel

<div class="row">
   
    <div class="recommendations products-grid">
        @foreach (var product in Model.Products)
        {
            <div class="item" data-recommendation-id="@product.RecommendationId">
                @Html.Partial("_Product", product.TileViewModel)
            </div>
        }
    </div>
</div>
