@using EPiServer.Reference.Commerce.Site.Features.MoseySupply.Models
@model EPiServer.Reference.Commerce.Site.Features.AddressBook.ViewModels.AddressViewModel

<div class="container">
    <div class="row myPage">
       
        @Html.Partial("EditAddress", Model)

    </div>
</div>