<aside class="col-right col-xs-12 col-md-3">
    <div class="bblock block-account">
        <div class="block-title">Menu</div>
        <div class="block-content">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "EditProfileStore")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("ProfileStoreDetail", "EditProfileStore")">Profile Store Detail</a>
                </li>
                <li>
                    <a href="@Url.Action("Visitors", "EditProfileStore")">Visitors</a>
                </li>
            </ul>
        </div>
    </div>
</aside>