@using EPiServer.Reference.Commerce.Site.Extensions

@model IBlockViewModel<FullWidthCarousel>

<div style="@Model.CurrentBlock.PaddingStyles">
    <div class="carousel-slider-full-width full-width-container">

        @if (Model.CurrentBlock != null && Model.CurrentBlock.MainContentArea != null && Model.CurrentBlock.MainContentArea.FilteredItems.Any())
        {

            foreach (var item in Model.CurrentBlock.MainContentArea.FilteredItems.Select((value, i) => new { i, value }))
            {
                @Html.Partial("HeroBlock", item.value.GetBlockViewModel<HeroBlock>())
            }
        }

    </div>
</div>