@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Mediachase.Commerce.Orders.OrderNoteCollection

<section class="panel general">
    <header class="panel-heading bg-maroon-gradient">
        Notes
    </header>
        <div class="panel-body notes-panel">

        </div>
</section>