@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model Mediachase.Commerce.Orders.OrderFormCollection
<section class="panel general">
    <header class="panel-heading bg-aqua-gradient">
        Returns
    </header>
    <div class="panel-body">

    </div>
</section>