<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MailingSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MailingSoapBinding1" />
                <binding name="SessionSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionSoapBinding1" />
                <binding name="RecipientListSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RecipientListSoapBinding1" />
                <binding name="CouponCodeSoapBinding" />
                <binding name="CouponBlockSoapBinding" />
                <binding name="MailIdSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MailIdSoapBinding1" />
                <binding name="MailingReportingSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MailingReportingSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.campaign.episerver.net/soap11/Mailing"
                binding="basicHttpBinding" bindingConfiguration="MailingSoapBinding"
                contract="MailingService.MailingWebservice" name="Mailing" />
            <endpoint address="https://api.campaign.episerver.net/soap11/Session"
                binding="basicHttpBinding" bindingConfiguration="SessionSoapBinding"
                contract="SessionService.SessionWebservice" name="Session" />
            <endpoint address="https://api.campaign.episerver.net/soap11/RecipientList"
                binding="basicHttpBinding" bindingConfiguration="RecipientListSoapBinding"
                contract="RecipientListService.RecipientListWebservice" name="RecipientList" />
            <endpoint address="http://api.broadmail.de/soap11/addons/CouponCode"
                binding="basicHttpBinding" bindingConfiguration="CouponCodeSoapBinding"
                contract="CouponCode.CouponCodeWebservice" name="CouponCode" />
            <endpoint address="http://api.broadmail.de/soap11/addons/CouponBlock"
                binding="basicHttpBinding" bindingConfiguration="CouponBlockSoapBinding"
                contract="CouponBlock.CouponBlockWebservice" name="CouponBlock" />
            <endpoint address="https://api.campaign.episerver.net/soap11/MailId"
                binding="basicHttpBinding" bindingConfiguration="MailIdSoapBinding"
                contract="MailId.MailIdWebservice" name="MailId" />
            <endpoint address="https://api.campaign.episerver.net/soap11/MailingReporting"
                binding="basicHttpBinding" bindingConfiguration="MailingReportingSoapBinding"
                contract="MailingReporting.MailingReportingWebservice" name="MailingReporting" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
