@model EPiServer.Reference.Commerce.Site.Features.Shared.ViewModels.IContentViewModel<IContent>
<div class="header-banner">
    <div class="assetBlock">
        @Html.PropertyFor(x => x.StartPage.HeaderBannerText)
    </div>
    
</div>