<?xml version="1.0" encoding="utf-8"?> 
<module name="Zone.Epi.ABTestListGadget" clientResourceRelativePath="ClientResources" loadFromBin="false" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Zone.Epi.ABTestListGadget" />
  </assemblies>
  <dojoModules>
    <add name="zoneabtestlistcomponent" path="Scripts" />
  </dojoModules>
  <routes>
    <route>
      <defaults>
        <add key="controller" value="ABTestListComponent" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
</module>