@model EPiServer.Reference.Commerce.Site.Features.Shared.ViewModels.IContentViewModel<IContent>
@{
    ViewBag.Title = "_CheckoutInvalidOperationError";
}

<h2>@Html.Translate("/Checkout/InvalidOperation")</h2>

